.need-help{
    
    border: none;
    padding: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
    
}

.need-help-inner{
    display: inline-block;
    text-align: center;
    
}
